# This is example for branch pipeline.
# It NOT works from HERE!
# CI managed from Google Cloud Build
steps:
  - name: gcr.io/cloud-builders/git
    args:
      - '-c'
      - |
        git fetch --unshallow --tags
        git submodule update --init --recursive
        cat << EOF > /workspace/build.sh
        #!/bin/bash
        set -e
        tag=$(git describe --tags --abbrev=0 | tr '/' '_')
        image="${_IMAGE}\${tag:0:1}-\${TARGET_OS}\${TARGET_OS_VERSION}:\${tag}"
        docker build --tag \$$image \
          --build-arg PYTHON3=\$PYTHON3 \
          --build-arg TARGET_OS=\$TARGET_OS \
          --build-arg TARGET_OS_VERSION=\$TARGET_OS_VERSION \
          --build-arg PROJECT_ID=$PROJECT_ID \
          .
        docker push $$image
        EOF
        chmod +x /workspace/build.sh
        cat /workspace/build.sh
    id: prepare
    entrypoint: bash
  - name: gcr.io/cloud-builders/docker
    env:
      - PYTHON3=
      - TARGET_OS=centos
      - TARGET_OS_VERSION=7
    args:
      - '-c'
      - source /workspace/build.sh
    id: build_centos
    waitFor:
      - prepare
    entrypoint: bash
  - name: gcr.io/cloud-builders/docker
    env:
      - PYTHON3=python3
      - TARGET_OS=ubuntu
      - TARGET_OS_VERSION=22
    args:
      - '-c'
      - source /workspace/build.sh
    id: build_ubuntu
    waitFor:
      - prepare
    entrypoint: bash
options:
  machineType: E2_HIGHCPU_8
  logging: CLOUD_LOGGING_ONLY
substitutions:
  _IMAGE: europe-west1-docker.pkg.dev/${PROJECT_ID}/greengage/ggdb
